body {
  background-color: #ffc300 !important;
  color: #000814;
}

.container {
  display: flex;
  flex-direction: column;
  height:100%;
  overflow:hidden;
  background-color: #ffc300;
}

#title {
  position: relative;
  min-height: 5rem;
}

#title h1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#result {
  clear: both;
}

#try-again {
  font-size: .75rem;
}

body, html {
  height: 100%;
  overflow:hidden;
  margin:0;
}