body {
  background-color: #ffc300 !important;
  color: #000814;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height:100%;
  overflow:hidden;
  background-color: #ffc300;
}

#title {
  height: 4rem;
}
#result {
  clear: both;
}

#try-again {
  font-size: .75rem;
}

body, html {
  height: 100%;
  overflow:hidden;
  margin:0;
}